

#menu{
  padding: 20px;
  text-align:center;
}

.menu-content h2{
  font-size: 36px;
  margin-bottom: 20px;
  color:#ff8c00;
}

.menu-content p{
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.6;
}

button{
  margin-top: 20px;
  padding:10px 20px;
  border:none;
  border-radius: 20px;
  cursor: pointer;
}

.menu-items{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:30px;
  justify-items: center;
  margin-top:30px;
}
.menu-items h3{
  font-size: 18px;
  color: #ff8c00;
  margin-top: 10px;
}

.menu-items p{
  font-size: 20px;
  color: #666;
  margin-top: 5px;
  line-height: 1.4;
}

.menu-items span{
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: red;
}


.menu-items img{
  width:250px;
  height:200px;
  border-radius: 10px;
}

.selroti{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}
.selroti:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.chiuraYogurtPickles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}
.chiuraYogurtPickles:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.puriwithPotatoCurry{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}
.puriwithPotatoCurry:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.jeriSwari{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}
.jeriSwari:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.SpicedChickpeans{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.SpicedChickpeans:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.DalBhatTarkari{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.DalBhatTarkari:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.RotiwithCurry{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.RotiwithCurry:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.Thukpa{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.Thukpa:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.Sekuwa{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.Sekuwa:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.Kheer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.Kheer:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.Yomari{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.Yomari:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.Nepalipeda{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.Nepalipeda:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.MalpuwaandJeri{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.MalpuwaandJeri:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.JuJudhau{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid  #fff;
  padding:10px;
  border-radius:10px;
}

.JuJudhau:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.btn-menu button {
  background-color: #f5f5f5;
  color: black;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
}

.btn-menu button.active {
  background-color: #ff8c00;
  color: white;
}

.btn-menu button:hover {
  background-color: #ff8c00;
  color: white;
  cursor: pointer;
}